@media only screen and (max-width:1380px){



}

@media only screen and (max-width:1280px){

	.dashboard-menu,
	.sub-header ul {
		margin-left: 4%;
	}

	.top-box, 
    .card-box
    {
		padding: 3% 0 2% 3.5%;
	}

	.megamenu {
		width: 900px;
	}

}

@media only screen and (max-width:1040px){

	.dashboard-menu,
	.sub-header ul {
		margin-left: 8%;
	}

	.megamenu {
		width: 850px;
		left: -5%;
		padding-left: 40px;
		padding-right: 0;
	}

}


@media only screen and (max-width:991px){
	
	.top-boxes .d-flex, 
    .card-boxes .d-flex
	{
		flex-wrap: wrap!important;
	}

	.top-boxes .d-flex .top-box 
	{
		width: 32.3%;
		padding: 30px 0 40px 50px;
	}

	.top-boxes .d-flex .top-box:last-child,
	.top-boxes .d-flex .top-box:nth-last-child(2) {
		width: 48.5%;
	}

	.card-boxes .d-flex .card-box:first-child{
		width: 100%;
	}

	.card-boxes .d-flex .card-box:last-child {
	    width: 100%;
	}

	.card-boxes .card-element .card-avatar {
		width: auto; 
		max-height: 100px;
	}

	.megamenu {
		width: 750px;
		left: -11%;
		padding-left: 40px;
		padding-right: 0;
		padding-top: 20px;
		padding-bottom: 20px;
	}

}


@media only screen and (max-width:768px){

	.dashboard-menu,
	.sub-header,
	.megamenu {
		display: none;
	}

	.header {
		margin-bottom: 25px;
	}

	.top-box {
		padding: 30px 0 40px 40px;
	}

	.card-box {
		padding: 30px 0 40px 40px;
	}

	.placeholders .d-flex {
		flex-wrap: wrap!important;
		justify-content: center;
	}

	.placeholder-main {
		order: 1;
	}
	.placeholder-sidebar {
		order: 2;
	}

}

@media only screen and (max-width:620px){

	.top-boxes .d-flex .top-box,
	.card-boxes .d-flex .card-box
	{
		padding: 8% 0 6% 4%;
	}

	.card-boxes .d-flex .card-box:first-child{
		width: 100%;
	}

	.card-boxes .d-flex .card-box:last-child {
	    width: 100%;
	}

}

@media only screen and (max-width:480px){

	.top-boxes .d-flex .top-box, 
	.card-boxes .d-flex .top-box
	{
		width: 48.5%!important;
		padding: 11% 0 7% 6%;
	}

}


@media only screen and (max-width:380px){

	.top-boxes .d-flex .top-box, 
	.card-boxes .d-flex .card-box 
    {
		width: 100%!important;
		padding: 30px 0 40px 50px;
	}

}


@media only screen and (max-width:280px){


}