@media only screen and (max-width:1380px){

	.logo img {
		width: 130px;
		height: auto;
		object-fit: cover;
	}

	.search-box {
		text-align: left;
	}

	.nav-tree {
		text-align: left;
		margin-left: 10%;
	}


}

@media only screen and (max-width:1280px){

	.container {
		margin-right: 3%;
		max-width: 88%;
	}

}

@media only screen and (max-width:1200px){

	/* Program Boxes */
	.class-program li {
		font-size: 16px;
	}

	.class-program .program-details li:before {
		width: 10px;
	}

	.class-days li {
		padding: 8px 5px;
		font-size: 12px;
	}

	.bottom-content ul li img {
		width: 20px;
		margin-right: 1px;
	}

	.bottom-content ul li {
		line-height: 1;
	}


}


@media only screen and (max-width:968px){

	.nav-tree {
		display: none;
	}

	.search-box {
		text-align: left;
		width: 60%;
		margin-left: 15%;
	}

	.main-content {
		padding-bottom: 125px;
	}


}


@media only screen and (max-width:768px){

	.footer,
	.form-logo {
		display: none;
	}

	.side-menu-mobile {
		display: block;
	}

	.image-login {
		min-height: 200px;
		height: 20vh;
	}

	.login-form {
		padding-bottom: 40px;
	}

	.logo-mobile {
		display: block;
	}

	.side-menu {
		display: none;
	}

	.container {
		margin-right: auto;
		max-width: 70%;
	}
	

}

@media only screen and (max-width:620px){

	.search-box {
		display: none;
	}




}

@media only screen and (max-width:480px){

	.footer {
		display: none;
	}

	.container {
		max-width: 94%;
	}


	.side-menu-mobile ul {
		max-height: 70px;
		padding: 10px 0;
	}

	.side-menu-mobile ul li {
		padding: 10px 5px;
	}


	.side-menu-mobile ul li img {
		width: 20px;
		text-align: center;
		height: auto;
		object-fit: cover;
		margin-bottom: 4px;
	}


	.side-menu-mobile ul li span {
		display: block;
		width: 100%;
		color: #fff;
		font-size: 12px;
		text-decoration: none;
		line-height: 1;
	}



	.login-form h2 {
		font-size: 26px;
	}


}


@media only screen and (max-width:380px){

	.login-form {
		width: 90%;
		min-width: 90%;
	}

	.container {
		margin-right: auto;
		max-width: 98%;
	}

}