/* Table Of Content

	1- CSS Reset





*/


/* FONTS */
@font-face{
  font-family: "SF Pro Text";
  src: url("../fonts/Sfprotext/sfprotext-regular.ttf") format("truetype");
  src: url("../fonts/Sfprotext/sfprotext-semibold.ttf") format("truetype");
  src: url("../fonts/Sfprotext/sfprotext-bold.ttf") format("truetype");
}

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
a:hover,
a:active {
	text-decoration: none;
	color: #fff;
}

/* General Settings */
body,
html {
	font-family: 'SF Pro Text', sans-serif;
	width: 100%;
	display: block;
	float: left;
	background-color: #f6f6f6;
	overflow-x: hidden;
	font-size: 16px;
}

.theme-layout {
	min-height: 100vh;
	display: block;
	width: 100%;
	position: relative;
}

.main-content {
	padding-bottom: 50px;
}

/********* HEADER SETTINGS ********/
.header {
	width: 100%;
	display: block;
	height: 55px;
	background-image: -moz-linear-gradient( -90deg, rgb(2,95,154) 12%, rgb(7,157,251) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(2,95,154) 12%, rgb(7,157,251) 100%);
	background-image: -ms-linear-gradient( -90deg, rgb(2,95,154) 12%, rgb(7,157,251) 100%);
}

.sub-header {
	background-color: #fff;
	display: block;
	padding: 10px 0 11px 0;
	margin-bottom: 5px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
}


.sub-header ul a {
	color: #025f9a;
	font-weight: 500;
	font-size: 1em;
}


.logo {
	position: absolute;
	left: 0;
	top: 0;
	float: left;
	z-index: 999;
}

.user-profile .profile-tag {
	float: right;
	position: absolute;
	right: 30px;
	cursor: pointer;
	top: 0;
	padding: 6px 10px;
}

.user-profile .profile-tag img:first-child {
	margin-right: 10px;
	float: left;
}

.user-profile .profile-tag span {
	color: #fff;
	margin-top: 13px;
	font-size: 18px;
	font-weight: medium;
	display: inline-block;
}

.user-profile .profile-tag img:last-child {
	width: 14px;
	margin-bottom: -2px;
	height: auto;
	object-fit: cover;
	text-align: right;
	margin-left: 20px;
}

.user-menu {
	position: absolute;
	right: 0;
	top: 55px;
	opacity: 0;
	z-index: -1;
	transition: all 0.25 ease-in-out;
}

.user-profile:hover .user-menu {
	opacity: 1;
	z-index: 1111;
}


.user-menu ul li {
	display: block;
	background-color: #fff;
	width: 100%;
	padding: 20px 0;
	transition: all 0.25 ease-in-out;
	border-bottom: 1px solid #eee;
}

.user-menu ul li:hover {
	background-color: #f6f6f6;
}

.user-menu ul li a {
	color: #111111;
	font-size: 15px;
	padding: 0 25px;
	font-weight: 500;
	text-decoration: none;
}

.user-menu ul li img {
	margin-bottom: -2px;
	width: 16px;
	margin-right: 10px;
	height: auto;
	object-fit: cover;
}

/* Main Menu */
.main-menu {
	display: block;
	width: 100%;
	float: left;
	position: relative;
}

.dashboard-menu {
	display: block;
	width: 100%;
	float: left;
	position: relative;
}

.dashboard-menu ul li img {
	width: 14px;
	height: auto;
	object-fit: cover;
	margin-right: 5px;
	margin-bottom: -1px;
}

.dashboard-menu > ul li {
	display: inline-block;
	font-weight: 500;
	font-size: 1em;
	letter-spacing: 0.01em;
	padding: 19px 0 20px 0;
}

.dashboard-menu > ul li a {
	padding: 19px 22px 20px 0;
	position: relative;
}

.logo img {
	margin-left: 12px;
	margin-top: 14px;
	position: relative;
	z-index: 2;
}

.logo-shape {
	height: 80px;
	width: 80px;
	background-color: #025f9a;
	position: absolute;
	top: -8px;
	left: -10px;
	border-radius: 50%;
	z-index: 1;
}

/* Top Boxes */
.top-box {
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 30px 0 40px 50px;
  margin-top: 0;
  margin: 0.5%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
}

.top-box > a 
{
	font-size: 0.875em;
	color: #111111;
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #2980b9;
	line-height: 1.3em;
}


.icon-bg-0 { background-color:#16a085; }
.icon-bg-1 { background-color:#34495e; }
.icon-bg-2 { background-color:#2980b9; }
.icon-bg-3 { background-color:#7f8c8d; }
.icon-bg-4 { background-color:#c0392b; }

.box-icon-bg {
	height: 60px;
	width: 60px;
	position: absolute;
	top: -20px;
	left: -15px;
	border-radius: 50%;
}

.box-symbol img {
	position: absolute;
	top: 7px;
	left: 9px;
	width: 20px;
	height: auto;
	object-fit: cover;
}

.top-box > a img {
	width: 20px;
	height: auto;
	box-sizing: border-box;
	position: absolute;
	right: 12px;
	bottom: 12px;
}

.icon-fix-1 {
	top: 4px!important;
	left: 7px!important;
	width: 26px!important;
}


.box-content h3 a {
	color: #025f9a;
	font-weight: 700;
	font-size: 1.375em;
	margin-bottom: 18px;
	display: block;
}

.box-content ul li {
	font-size: 0.875em;
	color: #111111;
	line-height: 1.3em;
	display: inline-block;
    width: 100%;
}

.box-content ul li strong {
	font-weight: 700;
}

/* Cards */

.card-boxes .card-box {
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 30px 0 40px 50px;
  margin-top: 0;
  margin: 0.5%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
}

.card-boxes .card-title {
	font-size: 20px;
	height: 40px;
}

.card-boxes .card-title h2 {
	max-width: 85%;
	line-height: 1.25;
}

.card-boxes .card-box > a {
	font-size: 0.875em;
	color: #111111;
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #2980b9;
	line-height: 1.3em;
}

.card-boxes .card-box .card-icon {
	position: relative;
    width: 30px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    padding: 7px;
}

.card-boxes .card-box .profile-tag {
	background-color: #f8fbff;
	border-radius: 25px;
	padding: 10px 20px;
	border:1px solid #e2e6eb;
	position: relative;
	top:-10px;
}

.card-boxes .card-box .profile-tag > span {
	color: #000;
	font-size: 14px;
	margin-top:0;
	margin-bottom:4px;
}

.card-boxes .card-box .profile-tag > img {
    margin-bottom: -3px;
}

.card-boxes .card-box .user-menu {
	background-color:#02609b;
	border-radius: 15px;
	padding: 15px 0;
	margin-top:0;
	right: 30px;
    width: 200px;
}

.card-boxes .card-box .user-menu li {
	padding: 10px 0; 
	background-color:transparent;
	border:none;
}

.card-boxes .card-box .user-menu ul {
	border-bottom: 1px solid #67a0c3;
}

.card-boxes .card-box .user-menu ul:last-child {
	border:none;

}

.card-boxes .card-box .user-menu li:hover {
	background-color:#67a0c3;
}


.card-boxes .card-box .user-menu li > a {
	color: #fff;
}

.card-boxes .select {
	position: absolute;
    right: 10px;
}

.card-boxes .delete .card-icon, 
.card-boxes .edit .card-icon
{
    -webkit-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.37);
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.37);
    margin-left:10px;
    margin-bottom: 10px;
}

.card-boxes .delete .card-icon:hover, 
.card-boxes .edit .card-icon:hover,
.card-boxes .location .card-icon:hover
{
	opacity:0.8;
}

.card-boxes .location {
	width:30px;
	height:30px;
	float: left;
}

.card-boxes .location .card-icon {
	background-color:#2980b9;
}

.card-boxes .d-flex .card-box:first-child {
    width: 32.5%;
}
.card-boxes .d-flex .card-box:last-child {
    width: 62.5%;
}

.card-boxes .card-content > ul {
	display: block;
	float: left;
    width: 100%;
}

.card-boxes .card-content > ul > li {
	font-size: 12px;
	line-height: 1.2;
	font-weight: 500;
	display: inline-flex;
	align-items: center;
	width: 100%;
	padding: 5px 0px 15px 0;
	border-bottom: 1px solid #e6e6e8;
}

.card-boxes .card-content .card-element {
    font-size: 12px;
    line-height: 1.2;
    color: #fff;
    font-weight: 500;
    display: block;
    align-items: center;
    margin-top: 10px;
}

.card-boxes .card-content #barChart {
	padding-right: 20px;
}

.card-boxes .card-element h3 {
	color:#000;
	display: block;
	font-weight: 500;
    float: left;
    font-size:16px;
    width: 100%;
    line-height: 1.5;
    padding:3px 0;
}

.card-boxes .card-element p {
	display: block;
    float: left;
    width: 100%;
}

.card-boxes .card-element small {
    color: #000;
    position: relative;
    top: 7px;
    float: left;
    left: 7px;
}

.card-boxes .card-all {
	text-align: center;
	margin: 25px 0;
}

.card-boxes .card-all a {
	color:#025f9a;
	padding:15px 0;
	font-weight: 300;
}

.card-boxes .card-all a:hover {
	color: #0799f5;
}

.card-boxes .card-element .card-avatar {
	border-radius: 50%;
	width: auto; 
	width: 100%;
}
.card-boxes .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.card-boxes  .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/* Footer */
.footer {
  background-image: -moz-linear-gradient( 90deg, rgb(2,95,154) 12%, rgb(7,157,251) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(2,95,154) 12%, rgb(7,157,251) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(2,95,154) 12%, rgb(7,157,251) 100%);
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
}

.copyright p {
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding: 12px 0;
}


.placeholders img {
	max-width: 100%;
	height: auto;
}



/* Mega Menu */

.megamenu {
	visibility: hidden;
	display: none;
	opacity: 0;
	position: absolute;
	left: 0%;
	top: 103%;
	z-index: 999;
	background-color: #fff;
	padding: 8px 30px 15px 50px;
	opacity: 0.941;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
	justify-content: center;
	width: 1170px;
}


li:hover .megamenu,
.megamenu:hover {
	opacity: 1;
	display: block;
	visibility: visible;
}

.mega-item:before {
	opacity: 0;
	position: absolute;
	content: ' ';
	left: 50%;
	margin-left: -10px;
	width: 10px;
	height: 14px;
	background-color: #fff;
	transform: rotate(45deg);
	bottom: -7px;
	z-index: 999;
}

.megamenu:hover + .mega-item:before,
.mega-item:hover:before {
	display: inline-block;
	opacity: 1;
}

.megamenu li a {
	color: #777777;
	font-weight: 400;
	font-size: 1em;
	padding: 5px 5px 6px 0!important;
}

.megamenu li a:hover {
	color: #333;
}

.megamenu strong {
	color: #025f9a;
	font-weight: bold;
	margin-bottom:6px;
	display: block;
}

.megamenu ul li {
	padding: 3px 0 3px 0;
	display: block;
}

.megamenu > li {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.megamenu li img {
	height: 10px!important;
	width: 6px!important;
	margin: 0 2px 1px 0!important;
}


/*  Search menu */
ul#search-menu {
    width: 100%;
    position: relative;
    font-size: 12px;
    position: relative;
    z-index: 500;
    background-color: #eff1f2;
	*zoom: 1;
    text-align: center;
	margin: auto; padding: auto;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    display: block;
    padding:0;
    float: left;
    padding:25px;
    }

ul#search-menu ul {
  padding:0;
}

ul#search-menu li {

    list-style-type: none;

    text-align:left;
    }

ul#search-menu h2 {
  text-align:left;
}

ul#search-menu h3 {
  text-align:left;
}

ul#search-menu > li > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 300px;
}

ul#search-menu > li > ul > li {
  box-sizing: border-box;
  max-width: 50%;
}


ul#search-menu > li > ul > li a {
  color:#7bc5f2; 
}