<span class="icon-logout"></span>
<span class="icon-follow"></span>
<span class="icon-add-lesson"></span>
<span class="icon-lesson"></span>
<span class="icon-students"></span>
<span class="icon-arrow"></span>
<span class="icon-arrow-gray"></span>
<span class="icon-attendence"></span>
<span class="icon-box-confirm"></span>
<span class="icon-box-layers"></span>
<span class="icon-box-plan"></span>
<span class="icon-box-profile"></span>
<span class="icon-box-student"></span>
<span class="icon-btn-arrow"></span>
<span class="icon-classroom"></span>
<span class="icon-confirm"></span>
<span class="icon-delete"></span>
<span class="icon-dots"></span>
<span class="icon-edit"></span>
<span class="icon-home"></span>
<span class="icon-layers"></span>
<span class="icon-location"></span>
<span class="icon-mail"></span>
<span class="icon-manage"></span>
<span class="icon-m-notification"></span>
<span class="icon-m-off"></span>
<span class="icon-m-password"></span>
<span class="icon-m-profile"></span>
<span class="icon-m-settings"></span>
<span class="icon-pass"></span>
<span class="icon-plan"></span>
<span class="icon-profile"></span>
<span class="icon-reports"></span>
<span class="icon-search"></span>
<span class="icon-settings"></span>
<span class="icon-student"></span>