<img src="assets/images/icons/arrow.svg" />
<img src="assets/images/icons/arrow-gray.svg" />
<img src="assets/images/icons/attendence.svg" />
<img src="assets/images/icons/box-confirm.svg" />
<img src="assets/images/icons/box-layers.svg" />
<img src="assets/images/icons/box-plan.svg" />
<img src="assets/images/icons/box-profile.svg" />
<img src="assets/images/icons/box-student.svg" />
<img src="assets/images/icons/btn-arrow.svg" />
<img src="assets/images/icons/classroom.svg" />
<img src="assets/images/icons/delete.svg" />
<img src="assets/images/icons/dots.svg" />
<img src="assets/images/icons/edit.svg" />
<img src="assets/images/icons/home.svg" />
<img src="assets/images/icons/location.svg" />
<img src="assets/images/icons/mail.svg" />
<img src="assets/images/icons/manage.svg" />
<img src="assets/images/icons/m-notification.svg" />
<img src="assets/images/icons/m-off.svg" />
<img src="assets/images/icons/m-password.svg" />
<img src="assets/images/icons/m-profile.svg" />
<img src="assets/images/icons/m-settings.svg" />
<img src="assets/images/icons/pass.svg" />
<img src="assets/images/icons/plan.svg" />
<img src="assets/images/icons/profile.svg" />
<img src="assets/images/icons/reports.svg" />
<img src="assets/images/icons/search.svg" />
<img src="assets/images/icons/settings.svg" />
