      <!-- Main Header -->
      <div class="header">

        <!-- Logo -->
        <div class="logo">
          <a href="#">
            <img src="assets/img/logo.png" alt="Logo">
          </a>
        </div>
        <!-- logo-END -->

        <!-- Main Menu -->
        <div class="main-menu">
          <div class="container">
            <div class="row">
              <div class="dashboard-menu">
                <ul>
                  <li>
                    <a [routerLinkActive]="['active']" [routerLink]="'/lesson-plan'">
                      <i class="icon icon-plan"></i>Lesson Plan
                    </a>
                  </li>
                  <li>
                    <a [routerLinkActive]="['active']" [routerLink]="'/admin'">
                      <i class="icon icon-profile"></i>Admin
                    </a>
                  </li>
                  <li>
                    <a [routerLinkActive]="['active']" [routerLink]="'/home'">
                      <i class="icon icon-home"></i>Home
                    </a>
                  </li>
                  <li>
                    <ul class="megamenu d-flex flex-nowrap">
                      <li><strong>General</strong>
                        <ul>
                          <li><a href="#"><i class="icon icon-arrow-gray"></i> School Settings</a></li>
                          <li><a href="#"><i class="icon icon-arrow-gray"></i> User Accounts</a></li>
                          <li><a href="#"><i class="icon icon-arrow-gray"></i> Manage Menu</a></li>
                          <li><a href="#"><i class="icon icon-arrow-gray"></i> Code Book</a></li>
                        </ul>
                      </li>
                      <li><strong>Reports</strong>
                        <ul>
                          <li><a href="#"><i class="icon icon-arrow-gray"></i> PMF Measures</a></li>
                        </ul>
                      </li>
                      <li><strong>Classes</strong>
                        <ul>
                          <li><a [routerLinkActive]="['active']" [routerLink]="'/home'"><i class="icon icon-arrow-gray"></i> Home Room</a></li>
                          <li><a href="#"><i class="icon icon-arrow-gray"></i> School Year</a></li>
                          <li><a href="#"><i class="icon icon-arrow-gray"></i> Subject Manager</a></li>
                        </ul>
                      </li>
                      <li><strong>Notification</strong>
                        <ul>
                          <li><a href="#"><i class="icon icon-arrow-gray"></i> Manage Template</a></li>
                          <li><a href="#"><i class="icon icon-arrow-gray"></i> Notification Email List</a></li>
                        </ul>
                      </li>
                      <li><strong>Project Commit</strong>

                      </li>
                    </ul>
                    <a class="mega-item" href="#">
                      <span class="icon icon-m-settings"></span>Settings
                    </a>
                  </li>
                  <li><a href="#"><i class="icon icon-reports"></i>School Reports</a></li>
                  <li><a href="#"><i class="icon icon-manage"></i>Manage</a></li>
                </ul>
              </div>
              <div class="search-box">
                <i class="icon icon-search"></i>
                <input type="text" placeholder="Search and enter...">
              </div>
            </div>
          </div>
        </div>
        <!-- main-menu-END -->

        <!-- User Profile -->
        <div class="user-profile">
          <div class="profile-tag">
            <img src="assets/img/users/avatar-1.jpg" alt="User"><span>Su.admin</span>
            <img src="assets/icons/arrow.svg" alt="Arrow">
          </div>

          <div class="user-menu">
            <ul>
              <li><a href="#"><img src="assets/icons/m-profile.svg" alt="Profile">My Profile</a></li>
              <li><a href="#"><img src="assets/icons/m-settings.svg" alt="Profile">User Settings</a></li>
              <li><a href="#"><img src="assets/icons/m-password.svg" alt="Profile">Change Password</a></li>
              <li><a href="#"><img src="assets/icons/m-notification.svg" alt="Profile">Notifications</a></li>
              <li><a href="#"><img src="assets/icons/m-off.svg" alt="Profile">Logout</a></li>
            </ul>
          </div>
        </div>
        <!-- user-profile-END -->

      </div>
      <!-- main-header-END -->


      <!-- Side Menu -->
      <div class="side-menu-mobile">
        <ul class="d-flex justify-content-around align-items-center">
          <li><a href="#"><i class="icon icon-home"></i><span>Home</span></a></li>
          <li><a href="#"><i class="icon icon-students"></i><span>Google Classroom</span></a></li>
          <li><a href="#"><i class="icon icon-m-settings"></i><span>User Settings</span></a></li>
          <li><a href="#"><i class="icon icon-search"></i><span>Search Students</span></a></li>
        </ul>
      </div>
      <!-- side-menu-END -->


      <!-- Sub Header START-->
      <div class="sub-header">
        <div class="container">
          <div class="row">
            <ul>
              <li><a href="#">Dashboard</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Sub Header END-->
