      <!-- Main Content -->
      <div class="main-content">
        <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="top-boxes">
              <div class="container-fluid">
                <div class="row d-flex justify-content-around flex-nowrap">
                  <!-- Box -->
                  <div class="top-box flex-fill">
                    <div class="box-symbol">
                      <div class="box-icon-bg icon-bg-0"></div>
                      <i class="icon icon-box-student"></i>
                    </div>
                    <div class="box-content">
                      <h3><a href="#">Student</a></h3>
                      <ul>
                        <li>258 <strong>Total Students</strong></li>
                        <li>117 <strong>Male</strong></li>
                        <li>141 <strong>Female</strong></li>
                      </ul>
                    </div>
                    <a href="#">Details</a>
                  </div>
                  <!-- Box -->
                  <div class="top-box flex-fill">
                    <div class="box-symbol">
                      <div class="box-icon-bg icon-bg-1"></div>
                      <i class="icon icon-students"></i>
                    </div>
                    <div class="box-content">
                      <h3><a href="#">Employee</a></h3>
                      <ul>
                        <li>258 <strong>Total Students</strong></li>
                        <li>117 <strong>Male</strong></li>
                        <li>141 <strong>Female</strong></li>
                      </ul>
                    </div>
                    <a href="#">Details</a>
                  </div>
                  <!-- Box -->
                  <div class="top-box flex-fill">
                    <div class="box-symbol">
                      <div class="box-icon-bg icon-bg-2"></div>
                      <i class="icon icon-box-plan"></i>
                    </div>
                    <div class="box-content">
                      <h3><a href="#">Lesson Plan</a></h3>
                      <ul>
                        <li>258 <strong>Total Students</strong></li>
                        <li>117 <strong>Male</strong></li>
                        <li>141 <strong>Female</strong></li>
                      </ul>
                    </div>
                    <a href="#">Details</a>
                  </div>
                  <!-- Box -->
                  <div class="top-box flex-fill">
                    <div class="box-symbol">
                      <div class="box-icon-bg icon-bg-3"></div>
                      <i class="icon icon-box-confirm"></i>
                    </div>
                    <div class="box-content">
                      <h3><a href="#">Student Attendance</a></h3>
                      <ul>
                        <li>258 <strong>Total Students</strong></li>
                        <li>117 <strong>Male</strong></li>
                        <li>141 <strong>Female</strong></li>
                      </ul>
                    </div>
                    <a href="#">Details</a>
                  </div>
                  <!-- Box -->
                  <div class="top-box flex-fill">
                    <div class="box-symbol">
                      <div class="box-icon-bg icon-bg-4"></div>
                      <i class="icon icon-box-layers"></i>
                    </div>
                    <div class="box-content">
                      <h3><a href="#">Subject Teacher</a></h3>
                      <ul>
                        <li>258 <strong>Total Students</strong></li>
                        <li>117 <strong>Male</strong></li>
                        <li>141 <strong>Female</strong></li>
                      </ul>
                    </div>
                    <a href="#">Details</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card-boxes">
              <div class="container-fluid">
                <div class="row d-flex justify-content-around flex-nowrap">
                  <!-- Box -->
                  <div class="card-box flex-fill">
                    <div class="card-title d-flex justify-content-between align-items-center">
                      <h2>Upcoming Lesson Plans</h2>
                      <a href="#" class="select"><i class="icon icon-dots"></i></a>
                    </div>
                    <div class="card-content d-flex">
                      <ul>
                        <li class="row d-flex justify-content-around">
                          <div class="card-element col-3 col-lg-3">
                            <img class="card-avatar" src="assets/img/users/avatar-1.jpg" alt="user" />
                          </div>
                          <div class="card-element col-6 col-lg-5">
                            <h3>English</h3>
                            <p>
                              <a href="#" class="location"><i class="icon icon-location"></i></a>
                              <small>CC.012 Class</small>
                            </p>
                          </div>
                          <div class="card-element col-3 col-lg-4">
                            <a href="#" class="edit">
                              <i class="icon icon-edit"></i>
                            </a>
                            <a href="#" class="delete">
                              <i class="icon icon-delete"></i>
                            </a>
                          </div>
                        </li>
                        <li class="row d-flex justify-content-around">
                          <div class="card-element col-3 col-lg-3">
                            <img class="card-avatar" src="assets/img/users/avatar-2.jpg" alt="user" />
                          </div>
                          <div class="card-element col-6 col-lg-5">
                            <h3>English</h3>
                            <p>
                              <a href="#" class="location"><i class="icon icon-location"></i></a>
                              <small>CC.012 Class</small>
                            </p>
                          </div>
                          <div class="card-element col-3 col-lg-4">
                            <a href="#" class="edit">
                              <i class="icon icon-edit"></i>
                            </a>
                            <a href="#" class="delete">
                              <i class="icon icon-delete"></i>
                            </a>
                          </div>
                        </li>
                        <li class="row d-flex justify-content-around">
                          <div class="card-element col-3 col-lg-3">
                            <img class="card-avatar" src="assets/img/users/avatar-3.jpg" alt="user" />
                          </div>
                          <div class="card-element col-6 col-lg-5">
                            <h3>English</h3>
                            <p>
                              <a href="#" class="location"><i class="icon icon-location"></i></a>
                              <small>CC.012 Class</small>
                            </p>
                          </div>
                          <div class="card-element col-3 col-lg-4">
                            <a href="#" class="edit">
                              <i class="icon icon-edit"></i>
                            </a>
                            <a href="#" class="delete">
                              <i class="icon icon-delete"></i>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="card-all">
                      <a href="#">view all +</a>
                    </div>
                  </div>
                  <!-- Box -->
                  <div class="card-box flex-fill">
                    <div class="card-title d-flex justify-content-between align-items-center">
                      <h2>Visitor Statistics</h2>
                      <div class="user-profile">
                        <div class="profile-tag">
                          <span>Custom range</span>
                          <i class="icon icon-arrow-gray"></i>
                        </div>
                        <div class="user-menu">
                          <ul>
                            <li>
                              <a href="#">Last 7 days</a>
                            </li>
                            <li>
                              <a href="#">Last 28 days</a>
                            </li>
                            <li>
                              <a href="#">Last 90 days</a>
                              </li>
                            <li>
                              <a href="#">Last 365 days</a>
                            </li>
                            <li>
                              <a href="#">This year</a>
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <a href="#">2020.</a>
                            </li>
                            <li>
                              <a href="#">2019.</a>
                             </li>
                          </ul>
                          <ul>
                            <li>
                              <a href="#">September</a>
                            </li>
                            <li>
                              <a href="#">August</a>
                            </li>
                            <li>
                              <a href="#">July</a>
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <a href="#">Custom range</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card-content d-flex">
                      <canvas
                        id="barChart"
                      ></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
      </div>
      <!-- main-content-END -->
