      <!-- Main Content -->
      <div class="main-content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ed_card-boxes lessons">
                <div class="row">
                  <!-- Box -->
                  <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                    <div class="card-box">
                      <div class="card-title">
                          <h2>Newton</h2>
                          <a href="https://educationalschool.iteg.com.np/profile/student/lessons" class="select">
                                <span>OFF PERIOD</span>
                          </a>
                      </div>
                      <div class="card-content">
                        <ul>
                          <li>
                            <h3>Subject</h3>
                            <span>English</span>
                          </li>
                          <li>
                            <h3>Grade</h3>
                            <span>Four</span>
                          </li>
                          <li>
                            <h3>Period</h3>
                            <span>1st Period</span>
                          </li>
                        </ul>
                        <div class="card-weeks">
                          <ul>
                            <li>MO</li>
                            <li>TU</li>
                            <li>WE</li>
                            <li>TH</li>
                            <li>FR</li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="row">
                          <div class="col-4"><i class="icon icon-box-profile"></i>
                          <span>Lesson Plan</span>
                          </div>
                          <div class="col-4"><i class="icon icon-box-student"></i>
                          <span>Student List</span>
                          </div>
                          <div class="col-4"><i class="icon icon-box-confirm"></i>
                          <span>Attendance</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Box -->
                  <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                    <div class="card-box">
                      <div class="card-title">
                          <h2>Newton</h2>
                          <a href="https://educationalschool.iteg.com.np/profile/student/lessons" class="select">
                                <span>OFF PERIOD</span>
                          </a>
                      </div>
                      <div class="card-content">
                        <ul>
                          <li>
                            <h3>Subject</h3>
                            <span>English</span>
                          </li>
                          <li>
                            <h3>Grade</h3>
                            <span>Four</span>
                          </li>
                          <li>
                            <h3>Period</h3>
                            <span>1st Period</span>
                          </li>
                        </ul>
                        <div class="card-weeks">
                          <ul>
                            <li>MO</li>
                            <li>TU</li>
                            <li>WE</li>
                            <li>TH</li>
                            <li>FR</li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="row">
                          <div class="col-4"><i class="icon icon-box-profile"></i>
                          <span>Lesson Plan</span>
                          </div>
                          <div class="col-4"><i class="icon icon-box-student"></i>
                          <span>Student List</span>
                          </div>
                          <div class="col-4"><i class="icon icon-box-confirm"></i>
                          <span>Attendance</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Box -->
                  <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                    <div class="card-box">
                      <div class="card-title">
                          <h2>Newton</h2>
                          <a href="https://educationalschool.iteg.com.np/profile/student/lessons" class="select">
                                <span>OFF PERIOD</span>
                          </a>
                      </div>
                      <div class="card-content">
                        <ul>
                          <li>
                            <h3>Subject</h3>
                            <span>English</span>
                          </li>
                          <li>
                            <h3>Grade</h3>
                            <span>Four</span>
                          </li>
                          <li>
                            <h3>Period</h3>
                            <span>1st Period</span>
                          </li>
                        </ul>
                        <div class="card-weeks">
                          <ul>
                            <li>MO</li>
                            <li>TU</li>
                            <li>WE</li>
                            <li>TH</li>
                            <li>FR</li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="row">
                          <div class="col-4"><i class="icon icon-box-profile"></i>
                          <span>Lesson Plan</span>
                          </div>
                          <div class="col-4"><i class="icon icon-box-student"></i>
                          <span>Student List</span>
                          </div>
                          <div class="col-4"><i class="icon icon-box-confirm"></i>
                          <span>Attendance</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Box -->
                  <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                    <div class="card-box">
                      <div class="card-title">
                          <h2>Newton</h2>
                          <a href="https://educationalschool.iteg.com.np/profile/student/lessons" class="select">
                                <span>OFF PERIOD</span>
                          </a>
                      </div>
                      <div class="card-content">
                        <ul>
                          <li>
                            <h3>Subject</h3>
                            <span>English</span>
                          </li>
                          <li>
                            <h3>Grade</h3>
                            <span>Four</span>
                          </li>
                          <li>
                            <h3>Period</h3>
                            <span>1st Period</span>
                          </li>
                        </ul>
                        <div class="card-weeks">
                          <ul>
                            <li>MO</li>
                            <li>TU</li>
                            <li>WE</li>
                            <li>TH</li>
                            <li>FR</li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="row">
                          <div class="col-4"><i class="icon icon-box-profile"></i>
                          <span>Lesson Plan</span>
                          </div>
                          <div class="col-4"><i class="icon icon-box-student"></i>
                          <span>Student List</span>
                          </div>
                          <div class="col-4"><i class="icon icon-box-confirm"></i>
                          <span>Attendance</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ed_card-boxes aside">
                <div class="row">
                  <!-- Box -->
                    <div class="card-box">
                      <div class="card-title">
                          <h2>Latest News & Updates</h2>
                      </div>
                      <!-- Swiper -->
                      <div class="card-wrapper">
                        <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                           <div class="card-content">
                            <div class="aside-box">
                              <figure>
                                <a href="#">
                                  <img src="assets/img/learning.jpg" alt="learning">
                                </a>
                              </figure>
                              <div class="item-content">
                                <span class="language">English</span>
                                <span>/</span>
                                <span class="date">Sep 11.2020</span>
                                <h3>Our Current House Tour Modern Farm house Style in the Suburbs</h3>
                              </div>
                            </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                           <div class="card-content">
                            <div class="aside-box">
                              <figure>
                                <a href="#">
                                  <img src="assets/img/learning.jpg" alt="learning">
                                </a>
                              </figure>
                              <div class="item-content">
                                <span class="language">English</span>
                                <span>/</span>
                                <span class="date">Sep 11.2020</span>
                                <h3>Our Current House Tour Modern Farm house Style in the Suburbs</h3>
                              </div>
                            </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                           <div class="card-content">
                            <div class="aside-box">
                              <figure>
                                <a href="#">
                                  <img src="assets/img/learning.jpg" alt="learning">
                                </a>
                              </figure>
                              <div class="item-content">
                                <span class="language">English</span>
                                <span>/</span>
                                <span class="date">Sep 11.2020</span>
                                <h3>Our Current House Tour Modern Farm house Style in the Suburbs</h3>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                  <!-- Box -->
                    <div class="card-box">
                      <div class="card-title">
                          <h2>Calendar</h2>
                      </div>
                      <div class="card-content">
                        <div id="datepicker-inline"></div>
                      </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <!-- main-content-END -->
<script>

        // Calendar Date Time Picker
        const datetimepicker = function(){
          $('#datepicker-inline').datetimepicker({
            inline: true
          });
        }

        // Swiper.js
        const swiper = function(){
          const swiper = new Swiper('.swiper-container', {
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
          });
        }

        window.onload = swiper;
        window.onload = datetimepicker;
</script>
