      <!-- Main Content -->
      <div class="main-content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-4">
                  <div class="side-menu">
                    <div class="side-menu-header">
                        HEADER
                    </div>
                    <div class="side-menu-content">
                        CONTENT
                    </div>
                    <div class="side-menu-footer">
                        FOOTE
                    </div>
                  </div>
              </div>
              <div class="col-8">
                <ul class="side-menu__results">
                    <li><h2>Math</h2>
                      <ul>
                        <li><h3>Kindergarten</h3>
                          <ul class="esquerda">
                            <li><a href="#">Counting & Cardinality</a></li>
                            <li><a href="#">Operations & Algebric Thinking</a></li>
                            <li><a href="#">Number & Operations in Base Ten</a></li>
                            <li><a href="#">Measurement & Data</a></li>
                            <li><a href="#">Geometry</a></li>
                          </ul>
                        </li>
                        <li><h3>First Grade</h3>
                          <ul class="esquerda">
                            <li><a href="#">Operations & Algebric Thinking</a></li>
                            <li><a href="#">Number & Operations in Base Ten</a></li>
                            <li><a href="#">Measurement & Data</a></li>
                            <li><a href="#">Geometry</a></li>
                          </ul>
                        </li>
                        <li><h3>Fourth Grade</h3>
                          <ul class="esquerda">
                            <li><a href="#">Counting & Cardinality</a></li>
                            <li><a href="#">Operations & Algebric Thinking</a></li>
                            <li><a href="#">Number & Operations in Base Ten</a></li>
                            <li><a href="#">Measurement & Data</a></li>
                            <li><a href="#">Geometry</a></li>
                          </ul>
                        </li>
                        <li><h3>Fifth Grade</h3>
                          <ul class="esquerda">
                            <li><a href="#">Counting & Cardinality</a></li>
                            <li><a href="#">Operations & Algebric Thinking</a></li>
                            <li><a href="#">Number & Operations in Base Ten</a></li>
                            <li><a href="#">Measurement & Data</a></li>
                            <li><a href="#">Geometry</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                </ul>                
              </div>
          </div>
        </div>
       </div>