      <!-- Main Content -->
      <div class="main-content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-xs-12 col-md-4">
                  <div class="side-menu">
                    <div class="side-menu-header">
                        <div class="side-menu-profile">
                            <img src="assets/img/users/avatar-1.jpg" alt="User">
                            <h2>Reanna Gulgowski Oberbrunerhoffman</h2>
                        </div>
                    </div>
                    <div class="side-menu-content">
                        <ul>
                            <li>
                                <i class="icon icon-user"></i>
                                <p>My Lesson Plan</p>
                                <i class="icon icon-arrow-gray right"></i>
                            </li>
                            <li>
                                <i class="icon icon-plan"></i>
                                <p>Add / View Lesson Plan</p>
                                <i class="icon icon-arrow-gray right"></i>
                            </li>
                            <li>
                                <i class="icon icon-plan"></i>
                                <p>Follow Lesson Plan</p>
                                <i class="icon icon-arrow-gray right"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="side-menu-footer">
                        <a href="#" class="left"><i class="icon icon-profile"></i></a>
                        <a href="#" class="left"><i class="icon icon-m-settings"></i></a>
                        <a href="#" class="right"><i class="icon icon-plan"></i></a>
                    </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-8">
                <ul class="side-menu__results">
                    <li><h2>Math</h2>
                      <ul>
                        <li><h3>Kindergarten</h3>
                          <ul class="esquerda">
                            <li><a href="#">Counting & Cardinality</a></li>
                            <li><a href="#">Operations & Algebric Thinking</a></li>
                            <li><a href="#">Number & Operations in Base Ten</a></li>
                            <li><a href="#">Measurement & Data</a></li>
                            <li><a href="#">Geometry</a></li>
                          </ul>
                        </li>
                        <li><h3>First Grade</h3>
                          <ul class="esquerda">
                            <li><a href="#">Operations & Algebric Thinking</a></li>
                            <li><a href="#">Number & Operations in Base Ten</a></li>
                            <li><a href="#">Measurement & Data</a></li>
                            <li><a href="#">Geometry</a></li>
                          </ul>
                        </li>
                        <li><h3>Fourth Grade</h3>
                          <ul class="esquerda">
                            <li><a href="#">Counting & Cardinality</a></li>
                            <li><a href="#">Operations & Algebric Thinking</a></li>
                            <li><a href="#">Number & Operations in Base Ten</a></li>
                            <li><a href="#">Measurement & Data</a></li>
                            <li><a href="#">Geometry</a></li>
                          </ul>
                        </li>
                        <li><h3>Fifth Grade</h3>
                          <ul class="esquerda">
                            <li><a href="#">Counting & Cardinality</a></li>
                            <li><a href="#">Operations & Algebric Thinking</a></li>
                            <li><a href="#">Number & Operations in Base Ten</a></li>
                            <li><a href="#">Measurement & Data</a></li>
                            <li><a href="#">Geometry</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                </ul>
              </div>
          </div>
        </div>
       </div>
